= render :partial => 'sub_menu'

%h1 About cookies

%h2 General
  
%p
  In accordance with the Electronic Communications Act shall anyone visiting web sites
  be informed about what cookies are used for and be offered the possibility to refuse such
  usage. A cookie is a small text file that is stored on your computer and contains
  textual information. Cookies are used for functions that improve web sites for you in
  one way or another.

%h2 How this web site uses cookies

%p
  The purpose of using cookies on this web site is to ensure that you have logged
  into the web site.

%h2 How you can avoid cookies

%p
  If you do not want to accept cookies, you can configure your web browser to automatically
  refuse cookies or to inform you every time a web site requests a cookie to be stored.
  You can also delete previously stored cookies through the web browser. Refer to the help
  section of the web browser for further information. You can also manually delete cookies
  from your hard disk at any time. If you choose not to accept cookies, this web site
  will NOT function properly.
