= render :partial => 'sub_menu'

%h1 About the roster

%h2 Version
  
%p= h ApplicationConfig.app_version

%h2 Made by
  
%p Colgate, Faxe and Patrik Lampa

%h2 Built using
  
%p
  %a{:href => "http://www.rubyonrails.org", :target => "_blank"}
    %img{:src => "/images/rails.png"}
  %a{:href => "http://www.ruby-lang.org", :target => "_blank"}
    %img{:src => "/images/ruby.png"}
  %a{:href => "http://jquery.com", :target => "_blank"}
    %img{:src => "/images/jquery.png"}
  %a{:href => "http://java.sun.com", :target => "_blank"}
    %img{:src => "/images/java.png"}
  %br>
  All icons come from
  %a{:href => "http://pinvoke.com", :target => "_blank"}
    pInvoke
  