= render :partial => 'sub_menu'

%h1 In case of problems

%p
  If you have any kind of problem with the roster,
  send a mail to
  %i= mail_to h(ApplicationConfig.admin_email_address)
  in which you describe the problem as detailed as possible.
  This could include information about, for example, what you
  where doing to cause a certain behaviour and any shown
  error messages.

