= render :partial => 'sub_menu'

%h1 Hjälp

%h2 Ändra min profil
%p
  TODO

%h2 Visa min profil
%p
  TODO

- if current_user_is_admin?
  %h2 Hantera profiler
  %p
    TODO

%h2 Ändra mitt lösenord
%p
  TODO

%h2 Enkel sökning
%p
  TODO
  
%h2 Avancerad sökning
%p
  TODO