= render :partial => 'sub_menu'

%h1 Help

%h2 Change my profile
%p
  TODO

%h2 View my profile
%p
  TODO

- if current_user_is_admin?
  %h2 Manage profiles
  %p
    TODO

%h2 Change my password
%p
  TODO

%h2 Simple search
%p
  TODO
  
%h2 Advanced search
%p
  TODO