= render :partial => 'sub_menu'

%h1= t 'views.tag_search.page_title'

- if @tags.empty?
  %p= t 'views.tag_search.no_tags_exist'
- else
  %ul#tag-cloud 
    - tag_cloud(@tags, %w(tag1 tag2 tag3 tag4 tag5 tag6 tag7 tag8 tag9 tag10)) do |tag, css_class|
      %li
        = link_to tag.name, { :controller => :tag_search, :action => :index, :id => tag.id, :order => 'last_name asc' }, { :class => css_class, :title => t('views.tag_search.no_of_taggings', :occurrence => tag.occurrence) }
