%div
  - f.field_container :name do
    = f.label :name, t('activerecord.attributes.function.name')
    %span.required= t 'views.base.mandatory_attribute'
    %br>
    = f.error_message_on :name
    = f.text_field :name, :class => 'fullwidth'
