= render :partial => 'sub_menu'

= render :partial => 'tabs', :locals => {:edit_mode => true, :current_action => t('views.base.editing_action'), :description => @spexare.full_name, :current_tab => 'spexare_tab'}

- form_for @spexare, :url => resource_url, :html => { :method => :put, :multipart => true } do |f|
  = render :partial => 'form', :locals => { :f => f }
  = render :partial => '/shared/edit_resource_links'
