= render :partial => 'administration/sub_menu'

- form_for :spexare, :url => spexare_index_url, :html => { :multipart => true } do |f|
  %fieldset
    %legend= t 'views.spexare.new_spexare'
    = render :partial => 'form', :locals => { :f => f }
    = render :partial => '/shared/new_resource_links', :locals => { :url => spexare_index_url }
