= render :partial => 'administration/sub_menu'

= render :partial => 'function_tabs', :locals => {:current_tab => 'function_tab'}

- form_for @function, :url => resource_url, :html => { :method => :put } do |f|
  = render :partial => 'form', :locals => { :f => f }
  = render :partial => '/shared/edit_resource_links'
