= render :partial => 'sub_menu'

%h1= t 'views.function.page_title', :action => t('views.base.editing_action'), :description => @function.name

- form_for @function, :url => resource_url, :html => { :method => :put } do |f|
  = render :partial => 'form', :locals => { :f => f }
  = render :partial => '/shared/edit_resource_links'
