= render :partial => 'administration/sub_menu'

- form_for :function, :url => collection_url do |f|
  %fieldset
    %legend= t 'views.function.new_function'
    = render :partial => 'form', :locals => { :f => f }
    = render :partial => '/shared/new_resource_links'
