Vilka fält finns?
<%= link_to_remote image_tag('down.png', {:alt => 'Vilka fält finns?', :border => 0, :align => 'top'}), { :url => { :controller => 'search', :action => 'advanced_search_help_fields', :operation => 'open' } } %>
