Hur söker man?
<%= link_to_remote image_tag('down.png', {:alt => 'Hur söker man?', :border => 0, :align => 'top'}), { :url => { :controller => 'search', :action => 'advanced_search_help_how', :operation => 'open' } } %>

