= content_for :sub_menu do
  %ul
    = tab :simple_search, :match_path => '/search/simple_search', :route => :search_simple_search, :translation_key => 'views.search.simple_search'
    = tab :advanced_search, :match_path => '/search/advanced_search', :route => :search_advanced_search, :translation_key => 'views.search.advanced_search', :css_class => 'last'
    
