= content_for :sub_menu do
  %ul
    = tab :new_search, :match_path => '/search', :translation_key => 'views.search.search'
    = tab :new_advanced_search, :match_path => '/advanced_search', :translation_key => 'views.advanced_search.advanced_search', :css_class => 'last'
  %br.clear
