a.button
  :background transparent url(/images/button_right.png) no-repeat scroll top right
  :display block
  :float left
  :margin-right 6px
  :padding-right 20px
  :text-decoration none
  :font-weight bold
  :outline none
  span
    :background transparent url(/images/button_left.png) no-repeat
    :display block
    :line-height 22px
    :padding 7px 0 5px 14px
  img
    :vertical-align middle
    :margin 0 3px 0 0
  &.cancel
    span
      :font-weight normal
      
button
  :border 0
  :color #3c7dfb
  :cursor pointer
  :font-weight bold
  :padding 0 20px 0 0
  :text-align center
  :background url(/images/button_right.png) center right no-repeat
  :outline none
  span
    :position relative
    :display block
    :white-space nowrap
    :padding 0 0 0 20px
    :height 35px
    :line-height 35px
    :background url(/images/button_left.png) center left no-repeat
    span
      img
        :vertical-align middle
        :margin 0 3px 0 0
  &:focus
    :outline none
