body
  :background-color = !background_color
  :margin-top 10px
  div.left
    +leftie
  div.right
    +rightie
  a
    :text-decoration none

.container
  +container

#header
  h1.logo
    :color = !header_text_color

  ul#login-details
    +horizontal-list(4px)
    :float right

#progress-indicator
  :display none
  :background = !progress_background_color url(/images/tab_back.png) repeat-x scroll left top
  :color = !progress_text_color
  :font-size 170%
  :height 25px
  :left 33%
  :padding 10px 0 15px
  :position absolute
  :text-align center
  :width 33%
  :font-weight bold
  :-moz-border-radius 15px
  :-webkit-border-radius 15px
  img
    :vertical-align middle
    :padding-right 10px

#content
  +column(31)
  :padding 1em
  :background = !content_background_color
  :color = !content_color
  :min-height 500px
  a
    :color #3C7DFB
    &:active,
    &:visited
      :color #3C7DFB
  p
    :margin-right 1em

#footer
  +column(31)
  :position relative
  ul#language-switcher
    +horizontal-list(4px)
    :float right

#login,
#signup,
#forgot-my-password,
#reset-my-password
  +column(31)
  h1
    :margin-bottom .25em
  p
    :margin-bottom 10px
    input.title
      :padding 3px
      :margin 0px

.toolbar
  :float right
  :margin-bottom 1em
  ul
    &.actions
      :margin 0
      :padding 0
      :float right
      +no-bullets
      li
        :float left
        :margin-right 0

.number-of-hits
  :text-align right

#latest-news
  +column(31)
  :margin 0 3em 0 3em

#latest-news-pagination
  .pagination
    :text-align left

.latest-news-item
  :display inline-block
  :vertical-align top
  +column(7)
  :margin 1em 0.5em 1em 0.5em
  :border 1px solid #069
  :background-color #cccccc
  :-moz-border-radius 5px
  :-webkit-border-radius 5px
  h3
    :text-align center

  