table
  &.index
    th
      :background #cdcdcd url(/images/table_header_back.png) top left repeat-x
      :padding 7px 10px
      :border-left 1px solid #ddd
      :border-top 1px solid #ddd
      :border-right 1px solid #aaa
      :border-bottom 1px solid #aaa
      &.action-column
        width: 20%
    td
      :border-bottom 1px solid #ddd
      :padding 3px 10px
      &.actions
        :text-align left
  &.show
    :width 98%
    th
      :background #cdcdcd url(/images/table_header_back.png) top left repeat-x
      :padding 7px 10px
      :border-left 1px solid #ddd
      :border-top 1px solid #ddd
      :border-right 1px solid #aaa
      :border-bottom 1px solid #aaa
    td
      :margin 0 10em 1em 0
      :padding 3px 10px
