= render :partial => 'sub_menu'

%h1= t 'views.administration.instructions'

%h2 Users
%p
  This is where users are managed, i.e. the account that a spexer uses to log in. When a spexer registers himself,
  an account is created but cannot be used until it has been approved. Prior approving a user, you must associate
  it with a profile, i.e. a spexer.

%h2 Functions
%p
  This is where functions are managed, i.e. the role a spexer has during a year. A function must belong to a
  function category.

%h2 Function categories
%p
  This is where function categories are managed. This categorisation exists to, among other things, simplify searches.

%h2 News
%p
  This is where news are managed and which are seen on the first page when a somebody logs in. A news item is
  only visible there if it is published and has a publication date that is not in the future.

%h2 Spex
%p
  This is where spex are managed. A spex must belong to a spex category.
  
%h2 Spex categories
%p
  This is where spex categories are managed. This categorisation exists to, among other things, simplify searches.
  You must specify which year a spex category starts.
