body {
	background:		#39597d;
}

/* Specific styles */

#mainContainer {
	position:		relative;
	margin:			0 auto;
	width:			792px;
}

#headerContainer {
	margin:			0 auto;
	position:		relative;
	background:		url(../images/headerWithLogos.gif) no-repeat top center;
	width:			792px;
	height:			120px;
}

#headerTitle {
	font:			bold 27px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:			#000000;
	text-align:		center;
	width:			614px;
	position:		absolute;
	left:			89px;
	top:			23px;
}

#headerVersion {
	font:			11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:			#000000;
	text-align:		left;
	width:			173px;
	height:			9px;
	position:		absolute;
	left:			50px;
	top:			77px;
}

#menuContainer {
}

#headerAdminMenu {
	width:			305px;
	height:			21px;
	position:		absolute;
	left:			246px;
	top:			73px;
  	background-color:	#7e93aa;
  	border:			1px outset #7e93aa;
  	text-align:		center;
}

#headerUserMenu {
	width:			203px;
	height:			21px;
	position:		absolute;
	left:			295px;
	top:			73px;
  	background-color:	#7e93aa;
  	border:			1px outset #7e93aa;
  	text-align:		center;
}

#headerLoggedInAs {
	font:			11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:			#000000;
	text-align:		right;
	width:			173px;
	height:			9px;
	position:		absolute;
	left:			571px;
	top:			77px;
}

#titleContainer {
	font:			bold 18px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:			#000000;
	text-align:		center;
	position:		relative;
}

#progressIndicator {
	font:			9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:			#000000;
    width:          1px;
    height:         12px;
	text-align:		center;
    overflow:       hidden;
	padding-left:   5px;
    background-color: #7e93aa;
	position:		absolute;
	left:			685px;
	top:			120px;
}

#bodyContainer {
	position:		relative;
}

#aboutDialog {
	background:		#39597d;
	border:			1px solid #999;
	-moz-border-radius:	5px;
	padding:		4px;
	width:			330px;
	position:		absolute;
	left:			231px;
	top:			130px;
}

#aboutDialog table {
	width:			100%;
}

#problemDialog {
	background:		#39597d;
	border:			1px solid #999;
	-moz-border-radius:	5px;
	padding:		4px;
	width:			330px;
	position:		absolute;
	left:			231px;
	top:			130px;
}

#problemDialog table {
	width:			100%;
}

#errorPane {
	width:			692px;
	position:		relative;
	left:			50px;
	top:			10px;
	border:			1px solid #7e93aa;
	font:			bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:			#000000;
	-moz-border-radius:	5px;
}

#errorPane ul {
	margin:			0px;
	padding:		0px;
	list-style-type:	none;
}

#errorPane li {
	background:		url(../images/error.png) 10px center no-repeat;
	padding:		10px 16px 10px 32px;
}

#errorPane a {
	color:			#000000;
	text-decoration:	none;
}

#fatalErrorPane {
	width:			692px;
	position:		relative;
	left:			50px;
	top:			10px;
	border:			1px solid #7e93aa;
	font:			bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:			#000000;
	-moz-border-radius:	5px;
}

#fatalErrorPane ul {
	margin:			0px;
	padding:		0px;
	list-style-type:	none;
}

#fatalErrorPane li {
	background:		url(../images/fatalerror.png) 10px center no-repeat;
	padding:		10px 16px 10px 32px;
}

#fatalErrorPane a {
	color:			#000000;
	text-decoration:	none;
}

#messagePane {
	width:			692px;
	position:		relative;
	left:			50px;
	top:			10px;
	border:			1px solid #7e93aa;
	font:			bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:			#000000;
	-moz-border-radius:	5px;
}

#messagePane ul {
	margin:			0px;
	padding:		0px;
	list-style-type:	none;
}

#messagePane li {
	background:		url(../images/message.png) 10px center no-repeat;
	padding:		10px 16px 10px 32px;
}

#messagePane a {
	color:			#000000;
	text-decoration:	none;
}

#validationErrorsPane {
	width:			692px;
	position:		relative;
	left:			50px;
	top:			10px;
	border:			1px solid #7e93aa;
	font:			bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:			#000000;
	-moz-border-radius:	5px;
}

#validationErrorsPane ul {
	margin:			0px;
	padding:		0px;
	list-style-type:	none;
}

#validationErrorsPane li {
	background:		url(../images/validationerror.png) 10px center no-repeat;
	padding:		10px 16px 10px 32px;
}

#filterPane {
	width:			100%;
	position:		relative;
	margin:			0 auto;
	text-align:		center;
	font:			10px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#exportPane {
	width:			100%;
	position:		relative;
	margin:			0 auto;
	text-align:		center;
	font:			10px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#paginationPane {
	width:			100%;
	position:		relative;
	margin:			0 auto;
	text-align:		center;
	font:			10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:			#7e93aa;
}

#paginationPane img {
	vertical-align:		middle;
}

#paginationPane a:link, a:visited {
	color:			#000000;
	text-decoration:	none;
}

#paginationPane a:hover {
	color:			#000000;
	text-decoration:	underline;
}

#loadingIndicator {
	position:		absolute;
	left:			756px;
	top:			77px;
}

#loginDialog {
	width:			410px;
	position:		relative;
	left:			191px;
	top:			30px;
	border:			1px solid #999;
	-moz-border-radius:	5px;
	padding:		4px;
}

#loginDialog table {
	width:			100%;
}

#signupDialog {
	background:		#39597d;
	border:			1px solid #999;
	-moz-border-radius:	5px;
	padding:		4px;
	width:			460px;
	position:		absolute;
	left:			166px;
	top:			20px;
}

#latestNewsDialog {
	background:		#39597d;
	width:			440px;
	position:		absolute;
	left:			176px;
	top:			30px;
	border:			1px solid #999;
	-moz-border-radius:	5px;
	padding:		4px;
}

#latestNewsDialog table {
	width:			100%;
}

#changeMyPasswordDialog {
	width:			410px;
	position:		relative;
	left:			191px;
	top:			30px;
	border:			1px solid #999;
	-moz-border-radius:	5px;
	padding:		4px;
}

#spexItemDialog {
	width:			440px;
	position:		relative;
	left:			176px;
	top:			30px;
	border:			1px solid #999;
	-moz-border-radius:	5px;
	padding:		4px;
}

#spexItemDialog table {
	width:			100%;
}

#spexItemListDialog {
	width:			540px;
	position:		relative;
	left:			126px;
	top:			30px;
	border:			1px solid #999;
	-moz-border-radius:	5px;
	padding:		4px;
}

#spexItemListDialog table {
	width:			100%;
}

#spexItemListDialog table th {
	font:			bold 13px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#spexItemListDialog table th img {
	vertical-align:		middle;
}

#spexItemListDialog table th a:link, a:visited {
	color:			#000000;
	text-decoration:	none;
}

#spexItemListDialog table td {
	font:			11px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#functionItemDialog {
	width:			440px;
	position:		relative;
	left:			176px;
	top:			30px;
	border:			1px solid #999;
	-moz-border-radius:	5px;
	padding:		4px;
}

#functionItemDialog table {
	width:			100%;
}

#functionItemListDialog {
	width:			540px;
	position:		relative;
	left:			126px;
	top:			30px;
	border:			1px solid #999;
	-moz-border-radius:	5px;
	padding:		4px;
}

#functionItemListDialog table {
	width:			100%;
}

#functionItemListDialog table th {
	font:			bold 13px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#functionItemListDialog table th img {
	vertical-align:		middle;
}

#functionItemListDialog table th a:link, a:visited {
	color:			#000000;
	text-decoration:	none;
}

#functionItemListDialog table td {
	font:			11px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#newsItemDialog {
	width:			440px;
	position:		relative;
	left:			176px;
	top:			30px;
	border:			1px solid #999;
	-moz-border-radius:	5px;
	padding:		4px;
}

#newsItemDialog table {
	width:			100%;
}

#newsItemListDialog {
	width:			540px;
	position:		relative;
	left:			126px;
	top:			30px;
	border:			1px solid #999;
	-moz-border-radius:	5px;
	padding:		4px;
}

#newsItemListDialog table {
	width:			100%;
}

#newsItemListDialog table th {
	font:			bold 13px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#newsItemListDialog table th img {
	vertical-align:		middle;
}

#newsItemListDialog table th a:link, a:visited {
	color:			#000000;
	text-decoration:	none;
}

#newsItemListDialog table td {
	font:			11px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#userItemDialog {
	width:			440px;
	position:		relative;
	left:			176px;
	top:			30px;
	border:			1px solid #999;
	-moz-border-radius:	5px;
	padding:		4px;
}

#userItemDialog table {
	width:			100%;
}

#userItemDialog div.auto_complete {
	position:		absolute;
	width:			250px;
	background-color:	#7e93aa;
	border:			1px solid #888;
	margin:			0px;
	padding:		0px;
}

ul.userItemDialogSpexareItems {
	list-style-type:	none;
	margin:			0px;
	padding:		0px;
}

ul.userItemDialogSpexareItems li.selected {
	background-color:	#39597d;
}

li.userItemDialogSpexareItem {
	list-style-type:	none;
	display:		block;
	margin:			0;
	padding:		2px;
	height:			10px;
	font-size:		11px;
	line-height:		1.2em;
}

#userItemListDialog {
	width:			540px;
	position:		relative;
	left:			126px;
	top:			30px;
	border:			1px solid #999;
	-moz-border-radius:	5px;
	padding:		4px;
}

#userItemListDialog table {
	width:			100%;
}

#userItemListDialog table th {
	font:			bold 13px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#userItemListDialog table th img {
	vertical-align:		middle;
}

#userItemListDialog table th a:link, a:visited {
	color:			#000000;
	text-decoration:	none;
}

#userItemListDialog table td {
	font:			11px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#spexareItemDialog {
	width:			600px;
	position:		relative;
	left:			96px;
	top:			30px;
	border:			1px solid #999;
	-moz-border-radius:	5px;
	padding:		4px;
}

#spexareItemDialog div.auto_complete {
	position:		absolute;
	width:			250px;
	background-color:	#7e93aa;
	border:			1px solid #888;
	margin:			0px;
	padding:		0px;
}

ul.spexareItemDialogRelatedSpexareItems {
	list-style-type:	none;
	margin:			0px;
	padding:		0px;
}

ul.spexareItemDialogRelatedSpexareItems li.selected {
	background-color:	#39597d;
}

li.spexareItemDialogRelatedSpexareItem {
	list-style-type:	none;
	display:		block;
	margin:			0;
	padding:		2px;
	height:			10px;
	font-size:		11px;
	line-height:		1.2em;
}

#spexareItemListDialog {
	width:			540px;
	position:		relative;
	left:			126px;
	top:			30px;
	border:			1px solid #999;
	-moz-border-radius:	5px;
	padding:		4px;
}

#spexareItemListDialog table {
	width:			100%;
}

#spexareItemListDialog table th {
	font:			bold 13px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#spexareItemListDialog table th img {
	vertical-align:		middle;
}

#spexareItemListDialog table th a:link, a:visited {
	color:			#000000;
	text-decoration:	none;
}

#spexareItemListDialog table td {
	font:			11px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#spexareItemLink {
	width:			300px;
	position:		relative;
	left:			150px;
	top:			5px;
	border:			1px solid #999;
	-moz-border-radius:	5px;
	margin:			0px 0px 8px 0px;
	padding:		4px;
}

#spexareItemLink table {
	width:			100%;
}

#spexareItemLinks {
}

#spexareItemLinks table {
	width:			100%;
}

#spexareItemLinks table th {
	font:			bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#spexareItemLinks table td {
	font:			11px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#spexareItemLinksHeader {
	background:		#7e93aa;
	position:		relative;
}

#spexareItemLinksHeader h2 {
	font:			normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:			#000000;
	padding:		1px 4px 1px 4px;
}

#spexareItemLinksHeader div.actions {
	position:		absolute;
	right:			2px;
	top:			0px;
}

#simpleSearchDialog {
	width:			600px;
	position:		relative;
	left:			96px;
	top:			30px;
	border:			1px solid #999;
	-moz-border-radius:	5px;
	padding:		4px;
}

#simpleSearchDialog table {
	width:			100%;
}

#advancedSearchDialog {
	width:			600px;
	position:		relative;
	left:			96px;
	top:			30px;
	border:			1px solid #999;
	-moz-border-radius:	5px;
	padding:		4px;
}

#advancedSearchDialog table {
	width:			100%;
}

#advancedSearchHelpHow {
	border:			1px solid #999;
	-moz-border-radius:	5px;
	padding:		4px;
}

#advancedSearchHelpFields {
	border:			1px solid #999;
	-moz-border-radius:	5px;
	padding:		4px;
}

#advancedSearchHelpExamples {
	border:			1px solid #999;
	-moz-border-radius:	5px;
	padding:		4px;
}

#exportDialog {
	background:		#39597d;
	border:			1px solid #999;
	-moz-border-radius:	5px;
	padding:		4px;
	width:			460px;
	position:		absolute;
	left:			166px;
	top:			20px;
	font:			10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:			#000000;
}

#exportDialog table {
	width:			100%;
}

#mailExportDialog {
	background:		#39597d;
	border:			1px solid #999;
	-moz-border-radius:	5px;
	padding:		4px;
	width:			560px;
	position:		absolute;
	left:			116px;
	top:			20px;
	font:			10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:			#000000;
}

#mailExportDialog table {
	width:			100%;
}

/* Global styles */

img {
	border-style:		none;
}

.normalLabelCell {
	font:			11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:			#000000;
	background-color:	transparent;
	width:			220px;
}

.normalLabelCell a {
	color:			#000000;
	text-decoration:	none;
}

.normalFieldCell {
	background-color:	transparent;
	font:			11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:			#000000;
	text-align:		left;
	margin-right:		0px;
	padding-right:		0px;
}

.normalFieldCell input {
	width:			100%;
	font:			11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color:	#7e93aa;
	color:			#000000;
	border:			1px solid #284279;
	margin-right:		0px;
}

.normalFieldCell select {
	width:			100%;
	font:			11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color:	#7e93aa;
	color:			#000000;
	border:			1px solid #284279;
	margin-right:		0px;
}

.normalFieldCell textarea {
	width:			100%;
	height:			150px;
	font:			11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color:	#7e93aa;
	color:			#000000;
	border:			1px solid #284279;
	margin-right:		0px;
}

.smallLabelCell {
	font:			10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color:	transparent;
	color:			#000000;
	width:			100px;
}

.smallFieldCell {
	background-color:	#f2f7fb;
	color:			#000000;
	text-align:		left;
}

.smallFieldCell input {
	width:			100%;
	font:			10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color:	#7e93aa;
	color:			#000000;
	border:			1px solid #284279;
}

.smallFieldCell select {
	width:			100%;
	font:			10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color:	#7e93aa;
	color:			#000000;
	border:			1px solid #284279;
}

.smallFieldCell textarea {
	width:			100%;
	height:			75px;
	font:			10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color:	#7e93aa;
	color:			#000000;
	border:			1px solid #284279;
}

.button {
	font:			11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color:	#f2f7fb;
	color:			#000000;
	margin-left:		5px;
	margin-top:		3px;
	margin-bottom:		2px;
}

.smallText {
	font:			10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:			#000000;
}

.smallText a {
	color:			#000000;
	text-decoration:	none;
}

.smallTextRightAligned {
	font:			10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:			#000000;
	text-align:		right;
}

.smallTextRightAligned a {
	color:			#000000;
	text-decoration:	none;
}

.normalText {
	font:			11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:			#000000;
}

.normalText a {
	color:			#000000;
	text-decoration:	none;
}

.normalTextRightAligned {
	font:			11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:			#000000;
	text-align:		right;
}

.normalTextRightAligned a {
	color:			#000000;
	text-decoration:	none;
}

.normalTextCenterAligned {
	font:			11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:			#000000;
	text-align:		center;
}

.normalTextCenterAligned a {
	color:			#000000;
	text-decoration:	none;
}

.largeTextCenterAligned {
	font:			bold 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:			#000000;
	text-align:		center;
}

.largeTextCenterAligned a {
	color:			#000000;
	text-decoration:	none;
}

.rightAligned {
	text-align:		right;
}

.leftAligned {
	text-align:		left;
}

.centerAligned {
	text-align:		center;
}

.odd {
    background:		#39597d;
}

.even {
    background:		#7e93aa;
}
