= render :partial => 'sub_menu'

= render :partial => 'tabs', :locals => {:edit_mode => true, :current_action => t('views.base.editing_action'), :description => @user.username, :current_tab => 'user_tab'}

- form_for @user, :url => resource_url, :html => { :method => :put } do |f|
  = render :partial => 'form', :locals => { :f => f, :show_user_groups => false }
  = render :partial => '/shared/edit_resource_links'
