- entity_ids = nil if local_assigns[:entity_ids].nil? 

.export-menu
  %a.dropdown-menu.dropdown-menu-button.dropdown-menu-button-icon-right.ui-widget.ui-state-default.ui-corner-all
    %span.ui-icon.ui-icon-triangle-1-s
    = icon_tag('export') + ' ' + t('views.report.export_action')
  .hidden
    %ul
      - reports.sort{|a, b| a[:title] <=> b[:title]}.each do |report|
        %li
          = link_to report[:title], new_reports_url(:report => report[:key], :ids => entity_ids ? entity_ids : nil), :class => 'fancybox-form' 

%br.clear
