= content_for :sub_menu do
  %ul
    = tab :latest_news, :route => 'home', :match_path => '/home', :translation_key => 'views.home.latest_news'
    = tab :edit_account, :match_path => '/account/edit', :translation_key => 'views.home.change_password', :css_class => (current_user.spexare.nil? ? '' : 'last') 
    - if !current_user.spexare.nil?
      = tab :change_profile, :match_path => '/profile/edit', :translation_key => 'views.home.change_profile', :css_class => 'last'
