= content_for :sub_menu do
  %ul
    = tab :home, :match_path => 'home'
    = tab :change_profile, :route => :home, :translation_key => 'views.home.change_profile'
    = tab :change_password, :route => :home, :translation_key => 'views.home.change_password', :css_class => 'last'
    
