= content_for :sub_menu do
  %ul
    = tab :news_index, :match_path => '/news/', :translation_key => 'views.home.news'
    = tab :change_profile, :match_path => '/home/change_profile', :route => :home_change_profile, :translation_key => 'views.home.change_profile'
    = tab :change_password, :match_path => '/home/change_password', :route => :home_change_password, :translation_key => 'views.home.change_password', :css_class => 'last'
    
