= render :partial => 'sub_menu'

- form_for @spex, :url => collection_url, :html => { :multipart => true } do |f|
  %fieldset
    %legend= t 'views.spex.new_spex'
    = render :partial => 'form', :locals => { :f => f }
    = render :partial => '/shared/new_resource_links', :locals => { :url => filter_url_if_not_compatible_with(current_page, collection_url) }
