<% @page_title = 'Ändra nyhet...' %>

<%= render :partial => 'shared/error' %>
<%= render :partial => 'shared/message' %>
<%= render :partial => 'shared/validation_errors' %>

<% form_for :news_item, :url => { :action => 'update', :id => @news_item } do |form| %>
  <%= render :partial => 'form', :locals => { :action => 'edit', :form => form } %>
<% end %>
