<% @page_title = 'Skapa funktion...' %>

<%= render :partial => 'shared/error' %>
<%= render :partial => 'shared/message' %>
<%= render :partial => 'shared/validation_errors' %>

<% form_for :function_item, :url => { :action => 'create' } do |form| %>
  <%= render :partial => 'form', :locals => { :action => 'new', :form => form } %>
<% end %>
