<p>Hejsan!</p>

<p>
<%= @new_account_name %> skulle vilja ha tillgång till Chalmersspexets adressregister.
Det önskade användarnamnet är <%= @new_account_user_name %> och följande beskrivning av
spex och roller har lämnats:
</p>

<p>
<%= @new_account_description %>
</p>

<p>
Mvh
Spexregistret
</p>