Hejsan!

<%= @new_account_name %> skulle vilja ha tillgång till Chalmersspexets adressregister.
Det önskade användarnamnet är <%= @new_account_user_name %> och följande beskrivning av
spex och roller har lämnats:

<%= @new_account_description %>

Mvh
Spexregistret
