= render :partial => 'sub_menu'

%h1= t 'views.search.title'

- form_tag search_path do
  %p
    %label= t 'activerecord.models.spex_category'
    %br>
    = select_tag :spex_category_id_equals, get_available_spex_categories_first_empty
  