= render :partial => 'administration/sub_menu'

%h1= t 'views.spex_category.page_title', :action => t('views.base.editing_action')

- form_for @spex_category, :url => resource_url, :html => { :method => :put, :multipart => true  } do |f|
  = render :partial => 'form', :locals => { :f => f }
  = render :partial => '/shared/edit_resource_links'
