%div
  - f.field_container :function_category do
    = f.label :name, t('activerecord.attributes.function.function_category')
    %span.required= t 'views.base.mandatory_attribute'
    %br>
    = f.error_message_on :function_category
    = f.select :function_category_id, get_available_function_categories
