= render :partial => 'administration/sub_menu'

= render :partial => '/spexare/spexare_tabs', :locals => {:edit_mode => true, :current_action => t('views.base.editing_action'), :current_tab => 'activities_tab'}

- form_for @activity, :url => resource_url, :html => { :method => :put } do |f|
  = render :partial => 'form', :locals => { :f => f }
  = render :partial => '/shared/edit_resource_links'
