= render :partial => 'administration/sub_menu'

= render :partial => '/spexare/spexare_tabs', :locals => {:edit_mode => true, :current_action => t('views.base.viewing_action'), :current_tab => 'activities_tab'}

