<%
@page_title = "Ett oväntat fel har inträffat..."
%>

<div id="fatalErrorPane">
  <script type="text/javascript">
  // <![CDATA[
    new Effect.Highlight("fatalErrorPane", {endcolor: '#39597d', startcolor: '#7e93aa'});
  // ]]>
  </script>
  <ul>
    <li>
      Sidan kunde inte hittas.
    </li>
  </ul>
</div>
