= check_box_tag 'include_with_missing_address', false, false
%label= t 'views.report.address_labels.include_with_missing_address'
%br>
= check_box_tag 'merge_related_with_same_address', true, true
%label= t 'views.report.address_labels.merge_related_with_same_address'
